<div ng-app="app">
  <div ng-controller="videogamesCtrl" ng-init="setup()">
    <!-- <div>
      Name Filter: <input ng-model="nameFilter">
      Steen Rating: <input ng-model="steenFilter">
    </div>

    <div>
      <button ng-click="toggleByAttribute('name')">Sort By Name</button>
    </div>

    <div ng-repeat="videogame in videogames | filter: {name: nameFilter, steen_rating: steenFilter} | orderBy:orderAttribute:descending">

      <p ng-click="deleteVideogame(videogame)">X</p>
      <p ng-click="videogame.visibility = !videogame.visibility">
        {{videogame.name}}
      </p>
        <span ng-show="videogame.visibility">
        Release Date: {{videogame.release_date}} 
        Genre: {{videogame.genre}}
        Gameplay: {{videogame.gameplay}}
        Steen Rating: {{videogame.steen_rating}}
        </span>
        <span>
          <p>Edit Videogame:</p>
          <p>Name: <input ng-model="videogame.name"></p>
          <p>Genre: <input ng-model="videogame.genre"></p>
          <p>Gameplay: <input ng-model="videogame.gameplay"></p>
          <p>Steen Rating: <input ng-model="videogame.steen_rating"></p>
          <p>Release Date: <input ng-model="videogame.release_date"></p>
          <button ng-click="editVideogame(videogame,$index,videogame.name,videogame.release_date,videogame.gameplay,videogame.steen_rating,videogame.genre)">Edit Videogame</button>
        </span>
      </p>
    </div>
    <div>
      <p>New Videogame:</p>
      <p>Name: <input ng-model="name"></p>
      <p>Genre: <input ng-model="genre"></p>
      <p>Gameplay: <input ng-model="gamePlay"></p>
      <p>Steen Rating: <input ng-model="steenRating"></p>
      <p>Release Date: <input ng-model="releaseDate"></p>
      <button ng-click="newVideogame(name,releaseDate,gamePlay,steenRating,genre)">Add Videogame</button>
    </div>
    <div ng-repeat="error in errors" >
      <p>{{error}}</p>
    </div> -->

    <datalist id="names">
      <option ng-repeat="videogame in videogames">{{videogame.name}}</option>
    </datalist>
    <input ng-model="nameFilter" list="names">

    <steens></steens>

    <table style="width:100%">
      <tr>
        <th ng-click="toggleByAttribute('name')">Name {{nameArrow}}</th>
        <th ng-click="toggleByAttribute('release_date')">Release Date {{releaseDateArrow}}</th> 
        <th ng-click="toggleByAttribute('genre')">Genre {{genreArrow}}</th>
        <th ng-click="toggleByAttribute('gameplay')">Gameplay {{gameplayArrow}}</th>
        <th ng-click="toggleByAttribute('steen_rating')">Steen Rating {{steenRatingArrow}}</th>
        <th>Delete?</th>
      </tr>
      <tr ng-repeat="videogame in videogames | filter: {name: nameFilter, steen_rating: steenFilter} | orderBy:orderAttribute:descending">
        <td>{{videogame.name}}</td>
        <td>{{videogame.release_date}}</td> 
        <td>{{videogame.genre}}</td>
        <td>{{videogame.gameplay}}</td>
        <td>{{videogame.steen_rating}}</td>
        <td><button ng-click="deleteVideogame(videogame)">X</button></td>
      </tr>
    </table>

    <div>
      <p>New Videogame:</p>
      <p>Name: <input ng-model="name"></p>
      <p>Genre: <input ng-model="genre"></p>
      <p>Gameplay: <input ng-model="gamePlay"></p>
      <p>Steen Rating: <input ng-model="steenRating"></p>
      <p>Release Date: <input ng-model="releaseDate"></p>
      <button ng-click="newVideogame(name,releaseDate,gamePlay,steenRating,genre)">Add Videogame</button>
    </div>
    <div ng-repeat="error in errors" >
      <p>{{error}}</p>
    </div>

  </div>
</div>